<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/dubboprovider/src/main/java/dubbo/test/main/DubboProvider.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="dubbo.test.main.DubboProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="dubboprovider"/>
</launchConfiguration>
