<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/jvmtheory/src/jvmtheory/TestCode.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="jvmtheory.TestCode"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="jvmtheory"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-XX:+UnlockDiagnosticVMOptions&#13;&#10;-XX:+TraceClassLoading&#13;&#10;-XX:+LogCompilation&#13;&#10;-XX:LogFile=D:\logfile.log&#13;&#10;-XX:+PrintAssembly&#13;&#10;-XX:+TraceClassLoading&#13;&#10;-XX:+LogCompilation&#13;&#10;-XX:LogFile=D:\logfile.log&#13;&#10;-XX:+PrintAssembly&#13;&#10;-XX:+TraceClassLoading&#13;&#10;-XX:+LogCompilation &#13;&#10;-XX:LogFile=D:\jit.log&#13;&#10;&#13;&#10;-XX:LogFile=D:\logfile.log&#13;&#10;-XX:+PrintAssembly&#13;&#10;-XX:+TraceClassLoading"/>
</launchConfiguration>
